body 
{
	color: purple;
	font-size: 20px;
}
li
{
	color: red;
}
h1 
{
	background-color: gray;
	font-size: 40px;
	text-aligo: center;
}
div
{
	margin-left: 20px;
	background-color: black;
}
spam
{
	font-style: italic;
}



	